@charset "UTF-8";
/* Perfect Fantasy (@scheme color): https://www.schemecolor.com/perfect-fantasy.php:
	#3F50BA, #F0A690, #F8C88C, #FF8671, #8859D0 */

/* General //////////////////////////////////////////////////////////////// */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #8859D0;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 16px;
	color: white;
}

/* Header ///////////////////////////////////////////////////////////////// */
h1 {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

header {
	border-bottom: 2px #F0A690 solid;
	background-color: #3F50BA;
}



/* Main /////////////////////////////////////////////////////////////////// */
form {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}

table {
	margin-top: 10px;
	min-width: 100%;
	background-color: #F8C88C;
	text-align: center;
	color: black;
}

table, td, th, tr {
	border: 2px #FF8671 solid;
	border-collapse: collapse;
}

td, th {
	padding: 10px 0;
}

#form-submit {
	border: 1px #F8C88C solid;
	border-radius: 6px;
	padding: 2px 20px;
	background-color: #3F50BA;
	font-size: 1.1em;
	color: white;
}

#form-submit:active {
	background-color: green;
}



/* Footer ///////////////////////////////////////////////////////////////// */
footer {
	position: fixed;
	bottom: 0;
	margin-top: 10px;
	border-top: 2px #F0A690 solid;
	min-width: 100%;
	padding: 10px 0;
	background-color: #3F50BA;
	text-align: center;
	font-size: 1.3em;
}