@charset "UTF-8";
/* Perfect Fantasy (@scheme color): https://www.schemecolor.com/perfect-fantasy.php:
	#3F50BA, #F0A690, #F8C88C, #FF8671, #8859D0 */

/* General //////////////////////////////////////////////////////////////// */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #8859D0;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 16px;
	color: white;
}

/* Header ///////////////////////////////////////////////////////////////// */
h1 {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

header {
	border-bottom: 2px #F0A690 solid;
	background-color: #3F50BA;
}



/* Main /////////////////////////////////////////////////////////////////// */



/* Footer ///////////////////////////////////////////////////////////////// */